

    <div class="d-flex">
        <h1>Wellcome to ZebraApp</h1>
    </div>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">assetName</th>
            <th scope="col">batteryCriticalEvents</th>
            <th scope="col">fullModel</th>
            <th scope="col">deviceType</th>
            <th scope="col">model</th>
            <th scope="col">serialNum</th>
            <th scope="col">siteHierarchy</th>
            <th scope="col">siteName</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of  datas; let i = index">
            
            <th scope="row">1</th>
            <td>{{item.data[i]}}</td>
            <!-- <td>{{item.data[0]}}</td>
            <td>{{item.batteryCriticalEvents}}</td>
            <td>{{item.fullModel}}</td>
            <td>{{item.deviceType}}</td>
            <td>{{item.model}}</td>
            <td>{{item.serialNum}}</td>
            <td>{{item.siteHierarchy}}</td>
            <td>{{item.siteName}}</td> -->
          </tr>
          
        </tbody>
      </table>

  
 
